/*Caracteristicas da tabela*/
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 15px;
line-height: 25px;
}
th {
text-align: center;
}
table {
border-spacing: 5px;
width: 100%;
}
/* destaque cinza/branco linha sim,linha nao*/
tr:nth-child(even) {
    background-color: #dddddd;
  }
